.notification {
  color: blue;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.blog {
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
}

.container {
  margin-top: 5px;
}
.button {
  margin-top: 10px;
}

.togglableButton {
  background-color: rgb(0, 100,170);
  color: white;
  margin-bottom: 10px;
}
.togglableButton:hover {
  background-color: darkblue;
}

.loginForm {
  margin-top: 10%;
  border: 1px solid lightblue;
  border-radius: 20px;
  padding: 50px;
  width: fit-content;
}